<% layout('/layouts/boilerplate') %> 

<div class="popup"></div>

<%- include('./partials/header')  %> 
<%- include('./partials/navbar')  %> 

<div class="body">
<div class="body__menu">
  <h2>Menu</h2>
  <div class="menu__products">
    
      <ul class="menu__products__ul">
        <% for(let i = 0; i < 12; i++) { %>
          <li class="menu__products__li">
            <span class="menu__products__li__name"><%= data[i].name %></span><br>
            <span class="menu__products__li__description">
              <%= data[i].description %> <br>
              abv: <%= data[i].abv %>% | ibu: <%= data[i].ibu %> 
            </span>
          </li>
        <% } %>  
      </ul>

      <ul class="menu__products__ul">
        <% for(let i = 12; i < data.length; i++) { %>
          <li class="menu__products__li">
            <span class="menu__products__li__name"><%= data[i].name %></span><br>
            <span class="menu__products__li__description">
              <%= data[i].description %> <br>
              abv: <%= data[i].abv %>% | ibu: <%= data[i].ibu %> 
            </span>
          </li>
        <% } %>  
      </ul>
  </div>
</div>
<div class="body__about">
  <h2>About Us</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam dignissimos adipisci ipsum repellat sed tempora minus necessitatibus minima at nobis explicabo odit quam optio architecto eos, animi veritatis sunt aperiam!
    At nulla dolores numquam nesciunt sapiente molestias eveniet, sequi quasi excepturi ullam est non asperiores hic neque aut deserunt voluptatum eligendi maiores. Alias et unde ratione similique modi? Nemo, sit.
    Consectetur esse eveniet fugiat, quam numquam dolorem doloribus nesciunt soluta alias. In, perferendis accusamus at autem illum vero laudantium quas similique, eveniet molestiae unde earum amet fugit nesciunt tempora necessitatibus.
  </p>
</div>
<div class="body__contact">
  <h2>Contact</h2>
  <address class="contact__address">
    <p>999 Luna St. <br>
      Los Angeles, CA 99999</p>
    <a href="mailto:redspider@lily.com">redspider@lily.com</a> <br>
    <a href="tel:+9999999999">(999) 999-9999</a>
  </address>
  <h3>Write a message:</h3>
  <form id="contact__form">
    
    <div class="contact__info">
    <div>
      <label for="name">Name:</label> <br>
      <input type="text" class="contact__name" name="name" required>
    </div>
    <div>
      <label for="email">Email:</label> <br>
      <input type="email" class="contact__email" name="email" required>
    </div>
    </div>
    
    <textarea class="contact__msg" name="msg" form="contact__form" cols="30" rows="10" required></textarea>
    <input type="submit" class="contact__submit">
    
  </form>
  
</div>

<!--Review-->
<div class="body__reviews">
  <h2>Reviews</h2>
  <h3>Leave a Review:</h3>
  <form action="" method="POST" id="review__form">
    <label for="name">Name:</label> <br>
    <input type="text" name="name" class="review__name" > <br>
    <textarea name="review" class="review__msg" form="review__form" cols="30" rows="10"></textarea><br>
    <% for (let i =0; i < 5; i++) { %> 
    <i class="far fa-star fa-3x"></i>
    <% } %> 
    <br>
    <input type="submit" class="review__submit">
  </form>
  <hr>
  <div class="review__display"></div>
</div>
  

</div>

<div class="footer__line"></div>